<main class="main">
  <section class="contact section" id="contact">
    <h2 class="section__title">CONTACT ME</h2>
    <div class="contact__container container grid">
      <form class="contact__form grid" id="contact-form" #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm)">
        <div class="contact__group grid">
          <input type="text" name="user_name" placeholder="Names" required class="contact__input" ngModel/>
          <input type="email" name="user_email" placeholder="Email"  required class="contact__input" ngModel/>
        </div>
        <textarea name="user_message" placeholder="Message" class="contact__input contact__area" ngModel></textarea>
        <button type="submit" class="button contact__button"> Send Message</button>
        <p class="contact__message" id="contact-message">{{ contactMessage }}</p>
      </form>
    </div>
  </section>
</main>
