.footer{
  padding-block: 2rem 8rem;
}

.footer__container{
  row-gap: 2.5rem;
}
.footer__logo{
  color: var(--white-color);
  font: var(--font-regular) var(--biggest-font-size) var(--second-font);
  justify-self: center;
}
.footer__links{
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer__link{
  color: var(--white-color);
  transition: color 0.4s;
}
.footer__link:hover{
  color: var(--text-color);
}
.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}
.footer__social-link{
  width: 2.5em;
  height: 2.5em;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition:  background-color 0.4s,color 0.4s;
}
.footer__social-link:hover{
  background-color: var(--white-color);
  color: var(--black-color);
}
.footer__copy{
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);

}


@media screen and (min-width:768px){
  .footer__container,
  .footer__content{
    grid-template-columns: repeat(2,max-content);
    align-items: center;
  }
  .footer__container{
    justify-content: space-between;
  }
  .footer__content{
    column-gap: 4.5rem;
  }
}
@media screen and (min-width:1200px) {
  .container{
    margin-inline: auto;
  }
  .footer{
    padding-top: 3rem;
  }
  .footer__link{
    column-gap: 3rem;
  }
  .footer__copy{
    margin-top: 7rem;
  }
}
@media screen and (min-width:1500px) {
  .footer{
    padding-block: 3rem;
  }
}
