<footer class="footer">
  <div class="footer__container container grid">
    <div class="footer__content grid">
        <a routerLink="" class="footer__logo" *ngFor="let footer of footers">{{footer.footer_name}}</a>
        <ul class="footer__links">
          <li>
              <a routerLink="/home" class="footer__link">Home</a>
          </li>
          <li>
              <a routerLink="/projects" class="footer__link">Projects</a>
          </li>
          <li>
              <a routerLink="/services" class="footer__link">Services</a>
          </li>
        </ul>
    </div>
    <div class="footer__social">
        <a href="https://www.facebook.com/profile.php?id=100010053458559" target="_blank" class="footer__social-link">
          <i class="ri-facebook-circle-line"></i>
        </a>

        <a href="https://www.instagram.com/mohamed256.ramadan/" target="_blank" class="footer__social-link">
          <i class="ri-instagram-line"></i>
        </a>

        <a href="https://twitter.com/" target="_blank" class="footer__social-link">
          <i class="ri-twitter-x-line"></i>
        </a>
    </div>
    <span class="footer__copy"> &#169; All Rights Reserved By Bedimcode </span>
  </div>
</footer>
<app-dashboard></app-dashboard>
