.projects__card{
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 2rem;
  }
  .projects__image{
    display: block;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .projects__img{
    transition: transform 0.4s;
  }
  .projects__name{
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
  }
  .projects__description{
    color: var(--text-color);
    margin-bottom: 1.5rem;
  }
  .projects__skill{
    width: 1rem;
    transition: transform 0.4s;
  }
  .projects__skill:hover{
    transform: translateY(-0.25rem);
  }
  .projects__skills{
    width: max-content;
    height: 34px;
    background-color: var(--black-color);
    padding-inline: 0.75rem;
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    border-radius: 4rem;
    margin-bottom: 1.5rem;
  }
  .projects__button{
    color: var(--white-color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: color 0.4s;
  }
  .projects__button i {
    font-size: 1.25rem;
  }
  .projects__button span {
    font-weight: var(--font-medium);
  }
  .projects__button:hover {
    color: var(--text-color);
  }
  .projects__card:hover .projects__img{
    transform: scale(1.2);
  }
  @media screen and (min-width:540px){

    .projects__container{
      grid-template-columns: 380px;
      justify-content: center;
    }
  }
  @media screen and (min-width:768px){

    .projects__container{
      grid-template-columns: repeat(2,350px);
    }
  }

  @media screen and (min-width:1200px) {
    .container{
      margin-inline: auto;
    }
    .section{
      padding-block: 3rem 4rem;
    }
    .section__title{
      font-size: var(--h1-font-size);
      margin-bottom: 4rem;
    }
    .projects__container{
      grid-template-columns: repeat(3,368px);
      gap: 2rem;
    }
    .projects__card{
      padding-bottom: 2rem;
    }
  }

